

{% extends 'website1/base.html'%}

{%block body_block%}
<h1>Library Management system</h1><hr>
<table border='2'>
<thead>
<th>Book Name</th> 
<th>Age</th>
<th>Details</th>
<th>Update</th>
<th>Delete</th>
</thead>
{%for  emp in employee_list %}

<tr>
<td>{{emp.name|title}}</td>
<td>{{emp.age }}</td>
<td> <a href="/detail/{{emp.id}}">Details</a> </td> 
<td><a href="/update/{{emp.id}}">Update</a></td>
<td><a href="/delete/{{emp.id}}">Delete</a></td> 
</tr>
{%endfor%}
</table><br><br><br>
<a href="/create" class='btn btn-primary btn-lg'>   New Record</a>
{%endblock%}